
$gb_path: ../fonts;
$gb_prefix: gb;
$gb_animate_spin_duration: 1s;

$gb_var_3d_rotation: '\e84d';
$gb_var_ac_unit: '\eb3b';
$gb_var_access_alarm: '\e855';
$gb_var_access_alarms: '\e855';
$gb_var_access_time: '\e8b5';
$gb_var_accessibility: '\e84e';
$gb_var_accessible: '\e914';
$gb_var_account_balance: '\e84f';
$gb_var_account_balance_wallet: '\e850';
$gb_var_account_box: '\e851';
$gb_var_account_circle: '\e853';
$gb_var_adb: '\e60e';
$gb_var_add: '\e145';
$gb_var_add_a_photo: '\e439';
$gb_var_add_alarm: '\e856';
$gb_var_add_alert: '\e003';
$gb_var_add_box: '\e146';
$gb_var_add_circle: '\e147';
$gb_var_add_circle_outline: '\e148';
$gb_var_add_location: '\e567';
$gb_var_add_shopping_cart: '\e854';
$gb_var_add_to_photos: '\e39d';
$gb_var_add_to_queue: '\e05c';
$gb_var_adjust: '\e39e';
$gb_var_airline_seat_flat: '\e630';
$gb_var_airline_seat_flat_angled: '\e631';
$gb_var_airline_seat_individual_suite: '\e53a';
$gb_var_airline_seat_legroom_extra: '\e633';
$gb_var_airline_seat_legroom_normal: '\e634';
$gb_var_airline_seat_legroom_reduced: '\e635';
$gb_var_airline_seat_recline_extra: '\e636';
$gb_var_airline_seat_recline_normal: '\e637';
$gb_var_airplanemode_active: '\e195';
$gb_var_airplanemode_inactive: '\e194';
$gb_var_airplay: '\e055';
$gb_var_airport_shuttle: '\eb3c';
$gb_var_alarm: '\e855';
$gb_var_alarm_add: '\e856';
$gb_var_alarm_off: '\e857';
$gb_var_alarm_on: '\e858';
$gb_var_album: '\e019';
$gb_var_all_inclusive: '\eb3d';
$gb_var_all_out: '\e90b';
$gb_var_android: '\e859';
$gb_var_announcement: '\e85a';
$gb_var_aparat: '\e191';
$gb_var_apple: '\e0d6';
$gb_var_apps: '\e5c3';
$gb_var_archive: '\e149';
$gb_var_arrow_back: '\e5c4';
$gb_var_arrow_downward: '\e5db';
$gb_var_arrow_drop_down: '\e5c5';
$gb_var_arrow_drop_down_circle: '\e5c6';
$gb_var_arrow_drop_up: '\e5c7';
$gb_var_arrow_forward: '\e5c8';
$gb_var_arrow_upward: '\e5d8';
$gb_var_art_track: '\e060';
$gb_var_aspect_ratio: '\e85b';
$gb_var_assessment: '\e85c';
$gb_var_assignment: '\e85d';
$gb_var_assignment_ind: '\e85e';
$gb_var_assignment_late: '\e85f';
$gb_var_assignment_return: '\e860';
$gb_var_assignment_returned: '\e861';
$gb_var_assignment_turned_in: '\e862';
$gb_var_assistant: '\e39f';
$gb_var_assistant_photo: '\e153';
$gb_var_attach_file: '\e226';
$gb_var_attach_money: '\e227';
$gb_var_attachment: '\e2bc';
$gb_var_audiotrack: '\e3a1';
$gb_var_autorenew: '\e028';
$gb_var_av_timer: '\e01b';
$gb_var_backspace: '\e14a';
$gb_var_backup: '\e864';
$gb_var_battery_alert: '\e19c';
$gb_var_battery_charging_full: '\e1a3';
$gb_var_battery_full: '\e1a4';
$gb_var_battery_std: '\e1a4';
$gb_var_battery_unknown: '\e1a6';
$gb_var_beach_access: '\eb3e';
$gb_var_beenhere: '\e52d';
$gb_var_bisphone: '\e30a';
$gb_var_block: '\e14b';
$gb_var_bluetooth: '\e1a7';
$gb_var_bluetooth_audio: '\e60f';
$gb_var_bluetooth_connected: '\e1a8';
$gb_var_bluetooth_disabled: '\e1a9';
$gb_var_bluetooth_searching: '\e60f';
$gb_var_blur_circular: '\e3a2';
$gb_var_blur_linear: '\e3a3';
$gb_var_blur_off: '\e3a4';
$gb_var_blur_on: '\e3a5';
$gb_var_book: '\e865';
$gb_var_bookmark: '\e866';
$gb_var_bookmark_border: '\e867';
$gb_var_border_all: '\e228';
$gb_var_border_bottom: '\e229';
$gb_var_border_clear: '\e22a';
$gb_var_border_color: '\e22b';
$gb_var_border_horizontal: '\e22c';
$gb_var_border_inner: '\e22d';
$gb_var_border_left: '\e22e';
$gb_var_border_outer: '\e22f';
$gb_var_border_right: '\e230';
$gb_var_border_style: '\e231';
$gb_var_border_top: '\e232';
$gb_var_border_vertical: '\e233';
$gb_var_branding_watermark: '\e06b';
$gb_var_brightness_1: '\e3a6';
$gb_var_brightness_2: '\e3a7';
$gb_var_brightness_3: '\e3a8';
$gb_var_brightness_4: '\e3a9';
$gb_var_brightness_5: '\e3aa';
$gb_var_brightness_6: '\e3ab';
$gb_var_brightness_7: '\e3ac';
$gb_var_brightness_auto: '\e1ab';
$gb_var_brightness_high: '\e3ac';
$gb_var_brightness_low: '\e3aa';
$gb_var_brightness_medium: '\e3ab';
$gb_var_broken_image: '\e3ad';
$gb_var_brush: '\e3ae';
$gb_var_bubble_chart: '\e6dd';
$gb_var_bug_report: '\e868';
$gb_var_build: '\e869';
$gb_var_burst_mode: '\e43c';
$gb_var_business: '\e0af';
$gb_var_business_center: '\eb3f';
$gb_var_cafebazaar: '\e190';
$gb_var_cached: '\e86a';
$gb_var_cake: '\e7e9';
$gb_var_call: '\e0b0';
$gb_var_call_end: '\e0b1';
$gb_var_call_made: '\e0b2';
$gb_var_call_merge: '\e0b3';
$gb_var_call_missed: '\e0b4';
$gb_var_call_missed_outgoing: '\e0e4';
$gb_var_call_received: '\e0b5';
$gb_var_call_split: '\e0b6';
$gb_var_call_to_action: '\e06c';
$gb_var_camera: '\e3af';
$gb_var_camera_alt: '\e3b0';
$gb_var_camera_enhance: '\e8fc';
$gb_var_camera_front: '\e3b1';
$gb_var_camera_rear: '\e3b2';
$gb_var_camera_roll: '\e3b3';
$gb_var_cancel: '\e5c9';
$gb_var_card_giftcard: '\e8f6';
$gb_var_card_membership: '\e8f7';
$gb_var_card_travel: '\e8f8';
$gb_var_casino: '\eb40';
$gb_var_cast: '\e307';
$gb_var_cast_connected: '\e308';
$gb_var_center_focus_strong: '\e3b4';
$gb_var_center_focus_weak: '\e3b5';
$gb_var_change_history: '\e86b';
$gb_var_chat: '\e0b7';
$gb_var_chat_bubble: '\e0ca';
$gb_var_chat_bubble_outline: '\e0cb';
$gb_var_check: '\e876';
$gb_var_check_box: '\e834';
$gb_var_check_box_outline_blank: '\e835';
$gb_var_check_circle: '\e86c';
$gb_var_chevron_left: '\e314';
$gb_var_chevron_right: '\e315';
$gb_var_child_care: '\eb41';
$gb_var_child_friendly: '\eb42';
$gb_var_chrome_reader_mode: '\e86d';
$gb_var_class: '\e865';
$gb_var_clear: '\e14c';
$gb_var_clear_all: '\e0b8';
$gb_var_close: '\e14c';
$gb_var_closed_caption: '\e01c';
$gb_var_cloob: '\e192';
$gb_var_cloud: '\e2bd';
$gb_var_cloud_circle: '\e2be';
$gb_var_cloud_done: '\e2bf';
$gb_var_cloud_download: '\e2c0';
$gb_var_cloud_off: '\e2c1';
$gb_var_cloud_queue: '\e2c2';
$gb_var_cloud_upload: '\e864';
$gb_var_code: '\e86f';
$gb_var_collections: '\e413';
$gb_var_collections_bookmark: '\e431';
$gb_var_color_lens: '\e40a';
$gb_var_colorize: '\e3b8';
$gb_var_comment: '\e0b9';
$gb_var_compare: '\e3b9';
$gb_var_compare_arrows: '\e915';
$gb_var_computer: '\e31e';
$gb_var_confirmation_number: '\e638';
$gb_var_contact_mail: '\e0d0';
$gb_var_contact_phone: '\e0cf';
$gb_var_contacts: '\e0ba';
$gb_var_content_copy: '\e14d';
$gb_var_content_cut: '\e14e';
$gb_var_content_paste: '\e14f';
$gb_var_control_point: '\e3ba';
$gb_var_control_point_duplicate: '\e3bb';
$gb_var_copyright: '\e90c';
$gb_var_create: '\e150';
$gb_var_create_new_folder: '\e2cc';
$gb_var_creative_commons: '\e1aa';
$gb_var_credit_card: '\e870';
$gb_var_crop: '\e3be';
$gb_var_crop_16_9: '\e3bc';
$gb_var_crop_3_2: '\e3bd';
$gb_var_crop_5_4: '\e3bf';
$gb_var_crop_7_5: '\e3c0';
$gb_var_crop_din: '\e3c1';
$gb_var_crop_free: '\e3c2';
$gb_var_crop_landscape: '\e3bf';
$gb_var_crop_original: '\e3c4';
$gb_var_crop_portrait: '\e3c5';
$gb_var_crop_rotate: '\e437';
$gb_var_crop_square: '\e3c6';
$gb_var_dashboard: '\e871';
$gb_var_data_usage: '\e1af';
$gb_var_date_range: '\e916';
$gb_var_dehaze: '\e5d2';
$gb_var_delete: '\e872';
$gb_var_delete_forever: '\e92b';
$gb_var_delete_sweep: '\e16c';
$gb_var_description: '\e873';
$gb_var_desktop_mac: '\e30b';
$gb_var_desktop_windows: '\e30c';
$gb_var_details: '\e3c8';
$gb_var_developer_board: '\e30d';
$gb_var_developer_mode: '\e1b0';
$gb_var_device_hub: '\e335';
$gb_var_devices: '\e1b1';
$gb_var_devices_other: '\e337';
$gb_var_dialer_sip: '\e0bb';
$gb_var_dialpad: '\e0bc';
$gb_var_directions: '\e52e';
$gb_var_directions_bike: '\e52f';
$gb_var_directions_boat: '\e532';
$gb_var_directions_bus: '\e530';
$gb_var_directions_car: '\e531';
$gb_var_directions_railway: '\e534';
$gb_var_directions_run: '\e566';
$gb_var_directions_subway: '\e533';
$gb_var_directions_transit: '\e533';
$gb_var_directions_walk: '\e536';
$gb_var_disc_full: '\e610';
$gb_var_dns: '\e875';
$gb_var_do_not_disturb: '\e033';
$gb_var_do_not_disturb_alt: '\e14b';
$gb_var_do_not_disturb_off: '\e643';
$gb_var_do_not_disturb_on: '\e644';
$gb_var_dock: '\e30e';
$gb_var_domain: '\e0af';
$gb_var_done: '\e876';
$gb_var_done_all: '\e877';
$gb_var_donut_large: '\e917';
$gb_var_donut_small: '\e918';
$gb_var_drafts: '\e151';
$gb_var_drag_handle: '\e25d';
$gb_var_drive_eta: '\e531';
$gb_var_dvr: '\e1b2';
$gb_var_edit: '\e150';
$gb_var_edit_location: '\e568';
$gb_var_eject: '\e8fb';
$gb_var_email: '\e158';
$gb_var_enamad: '\e1ba';
$gb_var_enhanced_encryption: '\e63f';
$gb_var_equalizer: '\e01d';
$gb_var_error: '\e000';
$gb_var_error_outline: '\e001';
$gb_var_euro_symbol: '\e926';
$gb_var_ev_station: '\e56d';
$gb_var_event: '\e878';
$gb_var_event_available: '\e614';
$gb_var_event_busy: '\e615';
$gb_var_event_note: '\e616';
$gb_var_event_seat: '\e903';
$gb_var_exit_to_app: '\e879';
$gb_var_expand_less: '\e316';
$gb_var_expand_more: '\e313';
$gb_var_explicit: '\e01e';
$gb_var_explore: '\e87a';
$gb_var_exposure: '\e3ca';
$gb_var_exposure_neg_1: '\e3cb';
$gb_var_exposure_neg_2: '\e3cc';
$gb_var_exposure_plus_1: '\e3cd';
$gb_var_exposure_plus_2: '\e3ce';
$gb_var_exposure_zero: '\e3cf';
$gb_var_extension: '\e87b';
$gb_var_face: '\e87c';
$gb_var_facebook: '\e157';
$gb_var_facenama: '\e1b6';
$gb_var_fast_forward: '\e01f';
$gb_var_fast_rewind: '\e020';
$gb_var_favorite: '\e87d';
$gb_var_favorite_border: '\e87e';
$gb_var_featured_play_list: '\e06d';
$gb_var_featured_video: '\e06e';
$gb_var_feedback: '\e85a';
$gb_var_fiber_dvr: '\e05d';
$gb_var_fiber_manual_record: '\e061';
$gb_var_fiber_new: '\e05e';
$gb_var_fiber_pin: '\e06a';
$gb_var_fiber_smart_record: '\e062';
$gb_var_file_download: '\e2c4';
$gb_var_file_upload: '\e2c6';
$gb_var_filter: '\e3d3';
$gb_var_filter_1: '\e3d0';
$gb_var_filter_2: '\e3d1';
$gb_var_filter_3: '\e3d2';
$gb_var_filter_4: '\e3d4';
$gb_var_filter_5: '\e3d5';
$gb_var_filter_6: '\e3d6';
$gb_var_filter_7: '\e3d7';
$gb_var_filter_8: '\e3d8';
$gb_var_filter_9: '\e3d9';
$gb_var_filter_9_plus: '\e3da';
$gb_var_filter_b_and_w: '\e3db';
$gb_var_filter_center_focus: '\e3dc';
$gb_var_filter_drama: '\e3dd';
$gb_var_filter_frames: '\e3de';
$gb_var_filter_hdr: '\e3df';
$gb_var_filter_list: '\e152';
$gb_var_filter_none: '\e3e0';
$gb_var_filter_tilt_shift: '\e3e2';
$gb_var_filter_vintage: '\e3e3';
$gb_var_find_in_page: '\e880';
$gb_var_find_replace: '\e881';
$gb_var_fingerprint: '\e90d';
$gb_var_first_page: '\e5dc';
$gb_var_fitness_center: '\eb43';
$gb_var_flag: '\e153';
$gb_var_flare: '\e3e4';
$gb_var_flash_auto: '\e3e5';
$gb_var_flash_off: '\e3e6';
$gb_var_flash_on: '\e3e7';
$gb_var_flight: '\e195';
$gb_var_flight_land: '\e904';
$gb_var_flight_takeoff: '\e905';
$gb_var_flip: '\e3e8';
$gb_var_flip_to_back: '\e882';
$gb_var_flip_to_front: '\e883';
$gb_var_folder: '\e2c7';
$gb_var_folder_open: '\e2c8';
$gb_var_folder_shared: '\e2c9';
$gb_var_folder_special: '\e617';
$gb_var_font_download: '\e167';
$gb_var_format_align_center: '\e234';
$gb_var_format_align_justify: '\e235';
$gb_var_format_align_left: '\e236';
$gb_var_format_align_right: '\e237';
$gb_var_format_bold: '\e238';
$gb_var_format_clear: '\e239';
$gb_var_format_color_fill: '\e23a';
$gb_var_format_color_reset: '\e23b';
$gb_var_format_color_text: '\e23c';
$gb_var_format_indent_decrease: '\e23d';
$gb_var_format_indent_increase: '\e23e';
$gb_var_format_italic: '\e23f';
$gb_var_format_line_spacing: '\e240';
$gb_var_format_list_bulleted: '\e241';
$gb_var_format_list_numbered: '\e242';
$gb_var_format_paint: '\e243';
$gb_var_format_quote: '\e244';
$gb_var_format_shapes: '\e25e';
$gb_var_format_size: '\e245';
$gb_var_format_strikethrough: '\e246';
$gb_var_format_textdirection_l_to_r: '\e247';
$gb_var_format_textdirection_r_to_l: '\e248';
$gb_var_format_underlined: '\e249';
$gb_var_forum: '\e8af';
$gb_var_forward: '\e154';
$gb_var_forward_10: '\e056';
$gb_var_forward_30: '\e057';
$gb_var_forward_5: '\e058';
$gb_var_free_breakfast: '\e541';
$gb_var_fullscreen: '\e5d0';
$gb_var_fullscreen_exit: '\e5d1';
$gb_var_functions: '\e24a';
$gb_var_g_translate: '\e927';
$gb_var_gamepad: '\e30f';
$gb_var_games: '\e021';
$gb_var_gavel: '\e90e';
$gb_var_gesture: '\e155';
$gb_var_get_app: '\e2c4';
$gb_var_gif: '\e908';
$gb_var_github: '\e0be';
$gb_var_golf_course: '\eb45';
$gb_var_google_play: '\e0d8';
$gb_var_google_plus: '\e159';
$gb_var_gps_fixed: '\e1b3';
$gb_var_gps_not_fixed: '\e1b4';
$gb_var_gps_off: '\e1b5';
$gb_var_grade: '\e838';
$gb_var_gradient: '\e3e9';
$gb_var_grain: '\e3ea';
$gb_var_graphic_eq: '\e1b8';
$gb_var_grid_off: '\e3eb';
$gb_var_grid_on: '\e3ec';
$gb_var_group: '\e7ef';
$gb_var_group_add: '\e7f0';
$gb_var_group_work: '\e886';
$gb_var_hd: '\e052';
$gb_var_hdr_off: '\e3ed';
$gb_var_hdr_on: '\e3ee';
$gb_var_hdr_strong: '\e3f1';
$gb_var_hdr_weak: '\e3f2';
$gb_var_headset: '\e310';
$gb_var_headset_mic: '\e311';
$gb_var_healing: '\e3f3';
$gb_var_hearing: '\e023';
$gb_var_help: '\e887';
$gb_var_help_outline: '\e8fd';
$gb_var_high_quality: '\e024';
$gb_var_highlight: '\e25f';
$gb_var_highlight_off: '\e888';
$gb_var_history: '\e889';
$gb_var_home: '\e88a';
$gb_var_hot_tub: '\eb46';
$gb_var_hotel: '\e53a';
$gb_var_hourglass_empty: '\e88b';
$gb_var_hourglass_full: '\e88c';
$gb_var_http: '\e902';
$gb_var_https: '\e897';
$gb_var_image: '\e251';
$gb_var_image_aspect_ratio: '\e3f5';
$gb_var_import_contacts: '\e0e0';
$gb_var_import_export: '\e8d5';
$gb_var_important_devices: '\e912';
$gb_var_inbox: '\e156';
$gb_var_indeterminate_check_box: '\e909';
$gb_var_info: '\e88e';
$gb_var_info_outline: '\e88f';
$gb_var_input: '\e890';
$gb_var_insert_chart: '\e85c';
$gb_var_insert_comment: '\e0b9';
$gb_var_insert_drive_file: '\e24d';
$gb_var_insert_emoticon: '\e7f2';
$gb_var_insert_invitation: '\e878';
$gb_var_insert_link: '\e250';
$gb_var_insert_photo: '\e251';
$gb_var_instagram: '\e15c';
$gb_var_invert_colors: '\e891';
$gb_var_invert_colors_off: '\e0c4';
$gb_var_iranapps: '\e254';
$gb_var_iso: '\e3f6';
$gb_var_keyboard: '\e312';
$gb_var_keyboard_arrow_down: '\e313';
$gb_var_keyboard_arrow_left: '\e314';
$gb_var_keyboard_arrow_right: '\e315';
$gb_var_keyboard_arrow_up: '\e316';
$gb_var_keyboard_backspace: '\e317';
$gb_var_keyboard_capslock: '\e318';
$gb_var_keyboard_hide: '\e31a';
$gb_var_keyboard_return: '\e31b';
$gb_var_keyboard_tab: '\e31c';
$gb_var_keyboard_voice: '\e029';
$gb_var_kitchen: '\eb47';
$gb_var_label: '\e892';
$gb_var_label_outline: '\e893';
$gb_var_landscape: '\e3df';
$gb_var_language: '\e894';
$gb_var_laptop: '\e31e';
$gb_var_laptop_chromebook: '\e31f';
$gb_var_laptop_mac: '\e320';
$gb_var_laptop_windows: '\e321';
$gb_var_last_page: '\e5dd';
$gb_var_launch: '\e89e';
$gb_var_layers: '\e53b';
$gb_var_layers_clear: '\e53c';
$gb_var_leak_add: '\e3f8';
$gb_var_leak_remove: '\e3f9';
$gb_var_lens: '\e3a6';
$gb_var_lenzor: '\e193';
$gb_var_library_add: '\e02e';
$gb_var_library_books: '\e02f';
$gb_var_library_music: '\e030';
$gb_var_lightbulb_outline: '\e90f';
$gb_var_line_style: '\e919';
$gb_var_line_weight: '\e91a';
$gb_var_linear_scale: '\e260';
$gb_var_link: '\e250';
$gb_var_linked_camera: '\e438';
$gb_var_linkedin: '\e0bf';
$gb_var_list: '\e896';
$gb_var_live_help: '\e0c6';
$gb_var_live_tv: '\e639';
$gb_var_local_activity: '\e53f';
$gb_var_local_airport: '\e195';
$gb_var_local_atm: '\e53e';
$gb_var_local_bar: '\e540';
$gb_var_local_cafe: '\e541';
$gb_var_local_car_wash: '\e542';
$gb_var_local_convenience_store: '\e543';
$gb_var_local_dining: '\e556';
$gb_var_local_drink: '\e544';
$gb_var_local_florist: '\e545';
$gb_var_local_gas_station: '\e546';
$gb_var_local_grocery_store: '\e8cc';
$gb_var_local_hospital: '\e548';
$gb_var_local_hotel: '\e53a';
$gb_var_local_laundry_service: '\e54a';
$gb_var_local_library: '\e54b';
$gb_var_local_mall: '\e54c';
$gb_var_local_movies: '\e8da';
$gb_var_local_offer: '\e54e';
$gb_var_local_parking: '\e54f';
$gb_var_local_pharmacy: '\e550';
$gb_var_local_phone: '\e0b0';
$gb_var_local_pizza: '\e552';
$gb_var_local_play: '\e553';
$gb_var_local_post_office: '\e158';
$gb_var_local_printshop: '\e8ad';
$gb_var_local_see: '\e3b0';
$gb_var_local_shipping: '\e558';
$gb_var_local_taxi: '\e559';
$gb_var_location_city: '\e7f1';
$gb_var_location_disabled: '\e1b5';
$gb_var_location_off: '\e0c7';
$gb_var_location_on: '\e0c8';
$gb_var_location_searching: '\e1b4';
$gb_var_lock: '\e897';
$gb_var_lock_open: '\e898';
$gb_var_lock_outline: '\e899';
$gb_var_looks: '\e3fc';
$gb_var_looks_3: '\e3fb';
$gb_var_looks_4: '\e3fd';
$gb_var_looks_5: '\e3fe';
$gb_var_looks_6: '\e3ff';
$gb_var_looks_one: '\e400';
$gb_var_looks_two: '\e401';
$gb_var_loop: '\e028';
$gb_var_loupe: '\e402';
$gb_var_low_priority: '\e16d';
$gb_var_loyalty: '\e89a';
$gb_var_mail: '\e158';
$gb_var_mail_outline: '\e0e1';
$gb_var_map: '\e55b';
$gb_var_markunread: '\e158';
$gb_var_markunread_mailbox: '\e89b';
$gb_var_mellat: '\e0c3';
$gb_var_memory: '\e322';
$gb_var_menu: '\e5d2';
$gb_var_merge_type: '\e0b3';
$gb_var_message: '\e0c9';
$gb_var_mic: '\e029';
$gb_var_mic_none: '\e02a';
$gb_var_mic_off: '\e02b';
$gb_var_mms: '\e618';
$gb_var_mode_comment: '\e253';
$gb_var_mode_edit: '\e150';
$gb_var_monetization_on: '\e263';
$gb_var_money_off: '\e25c';
$gb_var_monochrome_photos: '\e403';
$gb_var_mood: '\e7f2';
$gb_var_mood_bad: '\e7f3';
$gb_var_more: '\e619';
$gb_var_more_horiz: '\e5d3';
$gb_var_more_vert: '\e5d4';
$gb_var_motorcycle: '\e91b';
$gb_var_mouse: '\e323';
$gb_var_move_to_inbox: '\e168';
$gb_var_movie: '\e02c';
$gb_var_movie_creation: '\e02c';
$gb_var_movie_filter: '\e43a';
$gb_var_multiline_chart: '\e6df';
$gb_var_music_note: '\e3a1';
$gb_var_music_video: '\e063';
$gb_var_my_location: '\e1b3';
$gb_var_myket: '\e252';
$gb_var_nature: '\e406';
$gb_var_nature_people: '\e407';
$gb_var_navigate_before: '\e314';
$gb_var_navigate_next: '\e315';
$gb_var_navigation: '\e55d';
$gb_var_near_me: '\e569';
$gb_var_network_cell: '\e1c8';
$gb_var_network_check: '\e640';
$gb_var_network_locked: '\e61a';
$gb_var_network_wifi: '\e1d8';
$gb_var_new_releases: '\e031';
$gb_var_next_week: '\e16a';
$gb_var_nfc: '\e1bb';
$gb_var_no_encryption: '\e641';
$gb_var_no_sim: '\e0cc';
$gb_var_not_interested: '\e033';
$gb_var_note: '\e06f';
$gb_var_note_add: '\e89c';
$gb_var_notifications: '\e7f4';
$gb_var_notifications_active: '\e7f7';
$gb_var_notifications_none: '\e7f5';
$gb_var_notifications_off: '\e7f6';
$gb_var_notifications_paused: '\e7f8';
$gb_var_offline_pin: '\e90a';
$gb_var_ondemand_video: '\e63a';
$gb_var_opacity: '\e91c';
$gb_var_open_in_browser: '\e89d';
$gb_var_open_in_new: '\e89e';
$gb_var_open_with: '\e89f';
$gb_var_pages: '\e7f9';
$gb_var_pageview: '\e8a0';
$gb_var_palette: '\e40a';
$gb_var_pan_tool: '\e925';
$gb_var_panorama: '\e40b';
$gb_var_panorama_fish_eye: '\e40c';
$gb_var_panorama_horizontal: '\e40d';
$gb_var_panorama_vertical: '\e40e';
$gb_var_panorama_wide_angle: '\e40f';
$gb_var_parsian: '\e1d9';
$gb_var_party_mode: '\e7fa';
$gb_var_pause: '\e034';
$gb_var_pause_circle_filled: '\e035';
$gb_var_pause_circle_outline: '\e036';
$gb_var_payment: '\e870';
$gb_var_people: '\e7fb';
$gb_var_people_outline: '\e7fc';
$gb_var_perm_camera_mic: '\e8a2';
$gb_var_perm_contact_calendar: '\e8a3';
$gb_var_perm_data_setting: '\e8a4';
$gb_var_perm_device_information: '\e8a5';
$gb_var_perm_identity: '\e7ff';
$gb_var_perm_media: '\e8a7';
$gb_var_perm_phone_msg: '\e8a8';
$gb_var_perm_scan_wifi: '\e8a9';
$gb_var_person: '\e7fd';
$gb_var_person_add: '\e7fe';
$gb_var_person_outline: '\e7ff';
$gb_var_person_pin: '\e55a';
$gb_var_person_pin_circle: '\e56a';
$gb_var_personal_video: '\e333';
$gb_var_pets: '\e91d';
$gb_var_phone: '\e0b0';
$gb_var_phone_android: '\e324';
$gb_var_phone_bluetooth_speaker: '\e61b';
$gb_var_phone_forwarded: '\e61c';
$gb_var_phone_in_talk: '\e61d';
$gb_var_phone_iphone: '\e325';
$gb_var_phone_locked: '\e61e';
$gb_var_phone_missed: '\e61f';
$gb_var_phone_paused: '\e620';
$gb_var_phonelink: '\e1b1';
$gb_var_phonelink_erase: '\e0db';
$gb_var_phonelink_lock: '\e0dc';
$gb_var_phonelink_off: '\e327';
$gb_var_phonelink_ring: '\e0dd';
$gb_var_phonelink_setup: '\e0de';
$gb_var_photo: '\e251';
$gb_var_photo_album: '\e411';
$gb_var_photo_camera: '\e3b0';
$gb_var_photo_filter: '\e43b';
$gb_var_photo_library: '\e413';
$gb_var_photo_size_select_actual: '\e40b';
$gb_var_photo_size_select_large: '\e433';
$gb_var_photo_size_select_small: '\e434';
$gb_var_picture_as_pdf: '\e415';
$gb_var_picture_in_picture: '\e8aa';
$gb_var_picture_in_picture_alt: '\e911';
$gb_var_pie_chart: '\e6c4';
$gb_var_pie_chart_outlined: '\e6c5';
$gb_var_pin_drop: '\e55e';
$gb_var_place: '\e55f';
$gb_var_play_arrow: '\e037';
$gb_var_play_circle_filled: '\e038';
$gb_var_play_circle_outline: '\e039';
$gb_var_play_for_work: '\e906';
$gb_var_playlist_add: '\e03b';
$gb_var_playlist_add_check: '\e065';
$gb_var_playlist_play: '\e05f';
$gb_var_plus_one: '\e800';
$gb_var_poll: '\e85c';
$gb_var_polymer: '\e8ab';
$gb_var_pool: '\eb48';
$gb_var_portable_wifi_off: '\e0ce';
$gb_var_portrait: '\e416';
$gb_var_power: '\e63c';
$gb_var_power_input: '\e336';
$gb_var_power_settings_new: '\e8ac';
$gb_var_pregnant_woman: '\e91e';
$gb_var_present_to_all: '\e0df';
$gb_var_print: '\e8ad';
$gb_var_priority_high: '\e645';
$gb_var_public: '\e80b';
$gb_var_publish: '\e255';
$gb_var_query_builder: '\e8b5';
$gb_var_question_answer: '\e8af';
$gb_var_queue: '\e03c';
$gb_var_queue_music: '\e03d';
$gb_var_queue_play_next: '\e066';
$gb_var_radio: '\e03e';
$gb_var_radio_button_checked: '\e837';
$gb_var_radio_button_unchecked: '\e836';
$gb_var_rasaneh: '\e1b9';
$gb_var_rate_review: '\e560';
$gb_var_receipt: '\e8b0';
$gb_var_recent_actors: '\e03f';
$gb_var_record_voice_over: '\e91f';
$gb_var_redeem: '\e8b1';
$gb_var_redo: '\e15a';
$gb_var_refresh: '\e5d5';
$gb_var_remove: '\e15b';
$gb_var_remove_circle: '\e644';
$gb_var_remove_circle_outline: '\e15d';
$gb_var_remove_from_queue: '\e067';
$gb_var_remove_red_eye: '\e8f4';
$gb_var_remove_shopping_cart: '\e928';
$gb_var_reorder: '\e8fe';
$gb_var_repeat: '\e040';
$gb_var_repeat_one: '\e041';
$gb_var_replay: '\e042';
$gb_var_replay_10: '\e059';
$gb_var_replay_30: '\e05a';
$gb_var_replay_5: '\e05b';
$gb_var_reply: '\e15e';
$gb_var_reply_all: '\e15f';
$gb_var_report: '\e160';
$gb_var_report_problem: '\e002';
$gb_var_restaurant: '\e56c';
$gb_var_restaurant_menu: '\e556';
$gb_var_restore: '\e8b3';
$gb_var_restore_page: '\e929';
$gb_var_ring_volume: '\e0d1';
$gb_var_room: '\e55f';
$gb_var_room_service: '\eb49';
$gb_var_rotate_90_degrees_ccw: '\e418';
$gb_var_rotate_left: '\e419';
$gb_var_rotate_right: '\e41a';
$gb_var_rounded_corner: '\e920';
$gb_var_router: '\e328';
$gb_var_rowing: '\e921';
$gb_var_rss_feed: '\e0e5';
$gb_var_rv_hookup: '\e642';
$gb_var_saman: '\e1b7';
$gb_var_satellite: '\e562';
$gb_var_save: '\e161';
$gb_var_scanner: '\e329';
$gb_var_schedule: '\e8b5';
$gb_var_school: '\e80c';
$gb_var_screen_lock_landscape: '\e1be';
$gb_var_screen_lock_portrait: '\e1bf';
$gb_var_screen_lock_rotation: '\e1c0';
$gb_var_screen_rotation: '\e1c1';
$gb_var_screen_share: '\e0e2';
$gb_var_sd_card: '\e1c2';
$gb_var_sd_storage: '\e1c2';
$gb_var_search: '\e8b6';
$gb_var_security: '\e32a';
$gb_var_select_all: '\e162';
$gb_var_send: '\e163';
$gb_var_sentiment_dissatisfied: '\e811';
$gb_var_sentiment_neutral: '\e812';
$gb_var_sentiment_satisfied: '\e813';
$gb_var_sentiment_very_dissatisfied: '\e814';
$gb_var_sentiment_very_satisfied: '\e815';
$gb_var_settings: '\e8b8';
$gb_var_settings_applications: '\e8b9';
$gb_var_settings_backup_restore: '\e8ba';
$gb_var_settings_bluetooth: '\e8bb';
$gb_var_settings_brightness: '\e8bd';
$gb_var_settings_cell: '\e8bc';
$gb_var_settings_ethernet: '\e8be';
$gb_var_settings_input_antenna: '\e8bf';
$gb_var_settings_input_component: '\e8c0';
$gb_var_settings_input_composite: '\e8c0';
$gb_var_settings_input_hdmi: '\e8c2';
$gb_var_settings_input_svideo: '\e8c3';
$gb_var_settings_overscan: '\e8c4';
$gb_var_settings_phone: '\e8c5';
$gb_var_settings_power: '\e8c6';
$gb_var_settings_remote: '\e8c7';
$gb_var_settings_system_daydream: '\e1c3';
$gb_var_settings_voice: '\e8c8';
$gb_var_share: '\e80d';
$gb_var_shop: '\e8c9';
$gb_var_shop_two: '\e8ca';
$gb_var_shopping_basket: '\e8cb';
$gb_var_shopping_cart: '\e8cc';
$gb_var_short_text: '\e261';
$gb_var_show_chart: '\e6e1';
$gb_var_shuffle: '\e043';
$gb_var_signal_cellular_4_bar: '\e1c8';
$gb_var_signal_cellular_connected_no_internet_4_bar: '\e1cd';
$gb_var_signal_cellular_no_sim: '\e1ce';
$gb_var_signal_cellular_null: '\e1cf';
$gb_var_signal_cellular_off: '\e1d0';
$gb_var_signal_wifi_4_bar: '\e1d8';
$gb_var_signal_wifi_4_bar_lock: '\e1e1';
$gb_var_signal_wifi_off: '\e1da';
$gb_var_sim_card: '\e32b';
$gb_var_sim_card_alert: '\e624';
$gb_var_skip_next: '\e044';
$gb_var_skip_previous: '\e045';
$gb_var_skype: '\e1ac';
$gb_var_slideshare: '\e1ad';
$gb_var_slideshow: '\e41b';
$gb_var_slow_motion_video: '\e068';
$gb_var_smartphone: '\e0d4';
$gb_var_smoke_free: '\eb4a';
$gb_var_smoking_rooms: '\eb4b';
$gb_var_sms: '\e625';
$gb_var_sms_failed: '\e85a';
$gb_var_snooze: '\e046';
$gb_var_sort: '\e164';
$gb_var_sort_by_alpha: '\e053';
$gb_var_spa: '\eb4c';
$gb_var_space_bar: '\e256';
$gb_var_speaker: '\e32d';
$gb_var_speaker_group: '\e32e';
$gb_var_speaker_notes: '\e8cd';
$gb_var_speaker_notes_off: '\e92a';
$gb_var_speaker_phone: '\e0d2';
$gb_var_spellcheck: '\e8ce';
$gb_var_star: '\e838';
$gb_var_star_border: '\e83a';
$gb_var_star_half: '\e839';
$gb_var_stars: '\e8d0';
$gb_var_stay_current_landscape: '\e0d3';
$gb_var_stay_current_portrait: '\e0d4';
$gb_var_stay_primary_landscape: '\e0d3';
$gb_var_stay_primary_portrait: '\e0d4';
$gb_var_stop: '\e047';
$gb_var_stop_screen_share: '\e0e3';
$gb_var_storage: '\e1db';
$gb_var_store: '\e8d1';
$gb_var_store_mall_directory: '\e8d1';
$gb_var_straighten: '\e41c';
$gb_var_streetview: '\e56e';
$gb_var_strikethrough_s: '\e257';
$gb_var_style: '\e41d';
$gb_var_subdirectory_arrow_left: '\e5d9';
$gb_var_subdirectory_arrow_right: '\e5da';
$gb_var_subject: '\e8d2';
$gb_var_subscriptions: '\e064';
$gb_var_subtitles: '\e048';
$gb_var_subway: '\e56f';
$gb_var_supervisor_account: '\e7fb';
$gb_var_surround_sound: '\e049';
$gb_var_swap_calls: '\e0d7';
$gb_var_swap_horiz: '\e8d4';
$gb_var_swap_vert: '\e8d5';
$gb_var_swap_vertical_circle: '\e8d6';
$gb_var_switch_camera: '\e41e';
$gb_var_switch_video: '\e41f';
$gb_var_sync: '\e028';
$gb_var_sync_disabled: '\e628';
$gb_var_sync_problem: '\e629';
$gb_var_system_update: '\e62a';
$gb_var_system_update_alt: '\e8d7';
$gb_var_tab: '\e8d8';
$gb_var_tab_unselected: '\e8d9';
$gb_var_tablet: '\e32f';
$gb_var_tablet_android: '\e330';
$gb_var_tablet_mac: '\e331';
$gb_var_tag_faces: '\e7f2';
$gb_var_tap_and_play: '\e62b';
$gb_var_telegram: '\e1a5';
$gb_var_terrain: '\e3df';
$gb_var_text_fields: '\e262';
$gb_var_text_format: '\e165';
$gb_var_textsms: '\e625';
$gb_var_texture: '\e421';
$gb_var_theaters: '\e8da';
$gb_var_thumb_down: '\e8db';
$gb_var_thumb_up: '\e8dc';
$gb_var_thumbs_up_down: '\e8dd';
$gb_var_time_to_leave: '\e531';
$gb_var_timelapse: '\e422';
$gb_var_timeline: '\e922';
$gb_var_timer: '\e425';
$gb_var_timer_10: '\e423';
$gb_var_timer_3: '\e424';
$gb_var_timer_off: '\e426';
$gb_var_title: '\e264';
$gb_var_toc: '\e8de';
$gb_var_today: '\e8df';
$gb_var_toll: '\e8e0';
$gb_var_tonality: '\e427';
$gb_var_touch_app: '\e913';
$gb_var_toys: '\e332';
$gb_var_track_changes: '\e8e1';
$gb_var_traffic: '\e565';
$gb_var_train: '\e570';
$gb_var_tram: '\e571';
$gb_var_transfer_within_a_station: '\e572';
$gb_var_transform: '\e428';
$gb_var_translate: '\e8e2';
$gb_var_trending_down: '\e8e3';
$gb_var_trending_flat: '\e8e4';
$gb_var_trending_up: '\e8e5';
$gb_var_tune: '\e429';
$gb_var_turned_in: '\e866';
$gb_var_turned_in_not: '\e867';
$gb_var_tv: '\e333';
$gb_var_twitter: '\e0cd';
$gb_var_unarchive: '\e169';
$gb_var_undo: '\e166';
$gb_var_unfold_less: '\e5d6';
$gb_var_unfold_more: '\e5d7';
$gb_var_update: '\e923';
$gb_var_usb: '\e1e0';
$gb_var_verified_user: '\e8e8';
$gb_var_vertical_align_bottom: '\e258';
$gb_var_vertical_align_center: '\e259';
$gb_var_vertical_align_top: '\e25a';
$gb_var_vibration: '\e62d';
$gb_var_video_call: '\e070';
$gb_var_video_label: '\e071';
$gb_var_video_library: '\e04a';
$gb_var_videocam: '\e04b';
$gb_var_videocam_off: '\e04c';
$gb_var_videogame_asset: '\e338';
$gb_var_view_agenda: '\e8e9';
$gb_var_view_array: '\e8ea';
$gb_var_view_carousel: '\e8eb';
$gb_var_view_column: '\e8ec';
$gb_var_view_comfy: '\e42a';
$gb_var_view_compact: '\e42b';
$gb_var_view_day: '\e8ed';
$gb_var_view_headline: '\e8ee';
$gb_var_view_list: '\e8ef';
$gb_var_view_module: '\e8f0';
$gb_var_view_quilt: '\e8f1';
$gb_var_view_stream: '\e8f2';
$gb_var_view_week: '\e8f3';
$gb_var_vignette: '\e435';
$gb_var_visibility: '\e8f4';
$gb_var_visibility_off: '\e8f5';
$gb_var_voice_chat: '\e62e';
$gb_var_voicemail: '\e0d9';
$gb_var_volume_down: '\e04d';
$gb_var_volume_mute: '\e04e';
$gb_var_volume_off: '\e04f';
$gb_var_volume_up: '\e050';
$gb_var_vpn_key: '\e0da';
$gb_var_vpn_lock: '\e62f';
$gb_var_wallpaper: '\e1bc';
$gb_var_warning: '\e002';
$gb_var_watch: '\e334';
$gb_var_watch_later: '\e924';
$gb_var_wb_auto: '\e42c';
$gb_var_wb_cloudy: '\e2bd';
$gb_var_wb_incandescent: '\e42e';
$gb_var_wb_iridescent: '\e436';
$gb_var_wb_sunny: '\e430';
$gb_var_wc: '\e63d';
$gb_var_web: '\e051';
$gb_var_web_asset: '\e069';
$gb_var_weekend: '\e16b';
$gb_var_whatsapp: '\e1ae';
$gb_var_whatshot: '\e80e';
$gb_var_widgets: '\e1bd';
$gb_var_wifi: '\e63e';
$gb_var_wifi_lock: '\e1e1';
$gb_var_wifi_tethering: '\e1e2';
$gb_var_windows: '\e0d5';
$gb_var_work: '\e8f9';
$gb_var_wrap_text: '\e25b';
$gb_var_youtube_searched_for: '\e8fa';
$gb_var_zoom_in: '\e8ff';
$gb_var_zoom_out: '\e900';
$gb_var_zoom_out_map: '\e56b';
